.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}
.gifDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0;
}
.gifDisplay::after {
  content: "";
  flex: auto;
}
.gif {
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem gray;
}
.gif:hover {
  transform: scale(1.02);
}
