.gifContainer {
  box-shadow: 0.25rem 0.25rem 0.5rem #e1bbd4;
}
.gifContainer:hover {
  transform: scale(1.03);
}
.overlay {
  display: none;
}
.tags {
  display: none;
}
.gifContainer:hover .overlay {
  display: block;
}
.gifContainer:hover .tags {
  display: block;
}
